@charset "UTF-8";

 /* Typical Device Breakpoints
-------------------------------
   Pequenas Telas: Até 600px
   Celular: de 600px até 768px
   Tablet: 768px até 992px
   Desktop: 992px até 1200px
   Grandes Telas: acima de 1200px
    
*/

@media screen and (min-width:768px) and (max-width:992px){
    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
    }

    main {
        width: 80vw;
        height: 100vw;
    }
}

@media screen and (min-width:992px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
    }

    main {
        width: 950px;
        height: 100vw;
    }
}